[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
google-cloud-storage = "*"
google-cloud-secret-manager = "*"
accelerate = ">=0.26.0"
python-dotenv = "*"
opencv-python-headless = "*"
python-doctr = {extras = ["torch", "viz", "html", "contrib"]}
transformers = "*"
python-multipart = "*"
mplcursors = "*"
matplotlib = "*"
requests = "*"
tf2onnx = "*"
regex = "*"
flask = "*"
fastapi = "*"
uvicorn = "*"
Pillow = "*"