[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
fastapi = "*"
uvicorn = "*"
torch = {version = "2.5.1", extras = ["cuda"]}
transformers = "==4.46.2"
accelerate = ">=0.26.0"
python-dotenv = "*"
bitsandbytes = "==0.43.3"
unsloth = "==2024.11.7"


[requires]
python_version = "3.12"

