[run]
source =
    .

relative_files = True

[report]
exclude_lines =
    def test_
    if __name__ == .__main__.:

# Files or directories to omit from the report
omit =
    */tests/*
    */compare_models.py
    */utils.py
    */fine_tune.py

[paths]
source =
    .
