[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
google-cloud-storage = "*"
jupyter = "*"
transformers = "*"
torch = "*"
datasets = "*"
faiss-cpu = "*"
langchain = "*"
huggingface-hub = "*"
dvc = "*"
importlib_metadata = "*"
markupsafe = "*"
langchain-huggingface = "*"
langchain-community = "*"
accelerate = ">=0.26.0"
peft = "*"
loralib = "*"
safetensors = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
