[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
opencv-python-headless = "*"
python-doctr = {extras = ["torch", "viz", "html", "contrib"]}
regex = "*"
mplcursors = "*"
matplotlib = "*"
requests = "*"
tf2onnx = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
